.item {
  width: 200px;
  border-radius: 20px;
  border: 1px solid black;
}
.item p {
  margin: 6px 10px;
}
.item img {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  align-items: center;
  justify-content: center;
  display: flex;
  width: 200px;
}
.item-prices {
  display: flex;
  gap: 20px;
}
.item-prices-new {
  color: #374151;
  font-size: 16px;
  font-weight: 600;
  padding-left: 10px;
}
.item-prices-old {
  color: #8c8c8c;
  font-size: 16px;
  font-weight: 500;
  text-decoration: line-through;
}

.item:hover {
  transform: scale(1.1);
  transition: 0.6s;
}
