.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
}
.footer-logo {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}
.footer-logo p {
  font-size: 40px;
  color: #383838;
  font-weight: 700;
}
html.dark p {
  color: white;
}
.footer-links {
  display: flex;
  list-style: none;
  gap: 50px;
  color: #252525;
  font-size: 20px;
}
html.dark .footer-links {
  color: white;
}
.footer-links li {
  cursor: pointer;
}
.footer-social-icon {
  display: flex;
  gap: 20px;
}
.footer-icon-container {
  padding: 10px;
  padding-bottom: 6px;
  background: #fbfbfb;
  border: 1px solid #ebebeb;
}
.footer-copyright {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
  color: #1a1a1a;
  margin-bottom: 30px;
  font-size: 20px;
}
.footer-copyright hr {
  height: 3px;
  width: 80%;
  border: none;
  border-radius: 10px;
  background: #c7c7c7;
}
